<?xml version="1.0" encoding="UTF-8"?>
<con:mockService id="3f541116-b186-47c3-aa6f-0b24ce680fbb" port="8088" path="/" host="localhost" name="CalculatorSoap12 Virtual Service" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting><con:setting id="3f541116-b186-47c3-aa6f-0b24ce680fbbfileName">CalculatorSoap12-Virtual-Service</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>-1</con:inputBandwidth><con:outputBandwidth>-1</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>0</con:start><con:endless>true</con:endless></con:virtError></con:constraints><con:dataSources/><con:headerValidator type="NONE"/></con:mockService>